<!DOCTYPE html>
<html ng-app="x">
<head><link rel="stylesheet" href="assets/css/bootstrap.css" /></head>
<body style="margin:50px">
	<h1>Angular JS 26 - moving code into ng-controller</h1>
	<div ng-controller="y as x"> 
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="myObject in x.myObjects | orderBy:'-b' | limitTo:5">
				<h3>{{myObject.a}}
						<img ng-src="{{myObject.image}}" />
					  <em class="pull-right">{{myObject.b | currency}}</em>
				</h3>
				<div ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
						<li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">More Detail</a></li>
						<li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Feedback</a></li>
						<li ng-class="{active:panel.isSelected(4)}"><a href ng-click="panel.selectTab(4)">Enter Feedback</a></li>
					</ul>
					<div class="panel" ng-show="panel.isSelected(1)">{{myObject.description}}</div>
					<div class="panel" ng-show="panel.isSelected(2)">{{myObject.moredetail}}</div>
					<div class="panel" ng-show="panel.isSelected(3)"><p>Review Rating : {{myObject.reviewStars}}</p><p>Review Comments : {{myObject.reviewComments}}</p><p>Review Author : {{myObject.reviewAuthor}}</p></div>
					<div class="panel" ng-show="panel.isSelected(4)">
							<form>
								Please enter your rating (1 (worst) - 5 (best)) <input type="number" min="1" max="5" />
								<textarea placeholder="Please enter your feedback comments"></textarea>
								<input type="email" placeholder="Your Email Address" />
								<input type="submit" value="submit" />
							</form>
					</div>
				</div>
			</li>
		</ul>
	</div>
<script src="assets/js/angular.js"></script>
<script src="angular_27.js"></script>
</body>
</html>